{% extends '@Design/Default/layout-main.html.twig' %}

{% block title %}Update Entry{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/game/css/contestentry.css') }}" rel="stylesheet"/>
{% endblock %}
{% block header %}
    {% include 'DesignBundle:Default/Menus:homepage-menu.html.twig' %}
    <div class="row">
        {% if app.session.flashBag.has('success') %}
            <div class="alert alert-success">
                <a href="#" class="close" data-dismiss="alert">&times;</a>
                {% for msg in app.session.flashBag.get('success') %}
                    {{ msg }}
                {% endfor %}
            </div>
        {% endif %}
    </div>
    <section>

        <div class="container">
            <div class="row jumbotron color-bkg">
                <div class="row">
                    <h2><span class="glyphicon glyphicon-pencil"></span> Enter Contest</h2>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="row centered-form">
                            {% include 'GameBundle:ContestEntry/Partial:player_list.Partial.html.twig' %}
                        </div>
                    </div>
                    <div class="col-md-6">
                        {% include 'GameBundle:Contest/Partial:contest_details.html.Partial.twig' %}
                        {% include 'GameBundle:ContestEntry/Partial:contest_entry_form.Partial.twig' %}
                    </div>
                </div>
            </div>

        </div>

    </section>

{% endblock %}
{% block body %}

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/game/js/squadmanager.js') }}"></script>

{% endblock %}