{% extends '@Design/Default/formbase.html.twig' %}

{% block title %}Form{% endblock %}

{% block form %}
    <div class="row">
        <div class="col-md-6">
            <div class="row centered-form">
                <h1>Create A New Schedule Group</h1>

                <form action="{{ path('scheduleGroups_create') }}" method="POST" class="form-horizontal" role="form"
                      novalidate="novalidate">

                    {{ form_errors(scheduleForm) }}

                    {% if form_errors(scheduleForm.name) %}
                        <div class="alert alert-danger">
                            <a href="#" class="close" data-dismiss="alert">&times;</a>
                            {{ form_errors(scheduleForm.name) }}
                        </div>
                    {% endif %}

                    {{ form_label(scheduleForm.name) }}
                    <div style="margin-bottom: 25px" class="input-group">

                        {{ form_widget(scheduleForm.name) }}
                        {{ form_errors(scheduleForm.name) }}
                    </div>

                    {{ form_label(scheduleForm.schedules) }}
                    <div style="margin-bottom: 25px" class="input-group">

                        {{ form_widget(scheduleForm.schedules) }}
                        {{ form_errors(scheduleForm.schedules) }}
                    </div>

                    {{ form_rest(scheduleForm) }}
                    <div class="form-group last">
                        <div class="col-sm-offset-3 col-sm-9">
                            <button type="submit" class="btn btn-success btn-sm">Create ScheduleGroup</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-6">
            <div id="schedules" class="row">

            </div>
        </div>
    </div>
{% endblock %}


